#svg{
 display: block;



 .node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #777;
 }

 .node:hover {
  fill: #000;
  font-size: 13px;
 }

 .link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
 }

 .node:hover,
 .node--source,
 .node--target {
  font-weight: 700;
 }

 .node--source {
  fill: #2ca02c;
  font-size: 12px;
  font-weight: bold;
 }



 .node--target {
  fill: #d62728;
  font-size: 12px;
  font-weight: bold;
 }

 .link--source,
 .link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
 }

 .link--source {
  stroke: #d62728;
 }

 .link--target {
  stroke: #2ca02c;
 }

}