@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,300,400italic&subset=latin,latin-ext);
@import "_bootstrap.scss";
@import "_header.scss";
@import "_footer.scss";
@import "nodes/_circular.scss";
@import "nodes/_force.scss";

body{
	background-color: $gray-lighter;
}


.node {
	font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
	fill: #777;
}

.node:hover {
	fill: #000;
	font-size: 13px;
}

.link {
	stroke: steelblue;
	stroke-opacity: .4;
	fill: none;
	pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
	font-weight: 700;
}

.node--source {
	fill: #2ca02c;
}



.node--target {
	fill: #d62728;
}

.link--source,
.link--target {
	stroke-opacity: 1;
	stroke-width: 2px;
}

.link--source {
	stroke: #d62728;
}

.link--target {
	stroke: #2ca02c;
}

